//Exp_All_Inputs
hiddenUnits = 3
acceptableTrainingError = 0.0015
learningRate = 0.05
binSize = 10
classificationRigor = 0.2
maxEpoch = 25
simulations = 1

//Exp_Preprocessed
hiddenUnits = 3
acceptableTrainingError = 0.0015
learningRate = 0.05
binSize = 10
classificationRigor = 0.2
maxEpoch = 25
simulations = 1
pixelBlockSize = 2

//Exp_SOM
hiddenUnits = 30
acceptableTrainingError = 0.0015
learningRate = 0.05
binSize = 10
classificationRigor = 0.2
maxEpoch = 25
simulations = 30